<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chat.logger_app" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Welcome_screen"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".display"></activity>
        <activity android:name=".Signup"></activity>
        <activity android:name=".removeuser"></activity>
        <activity android:name=".Friends_view"></activity>
        <activity android:name=".SingleViewActivity"></activity>
        <activity android:name=".Fnd_msgs"  android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".Edit_prof_form"></activity>
        <activity android:name=".Add_new_fnds"></activity>
    </application>

</manifest>
